@model Veiculo

@{ 
    ViewData["title"] = "Editar Veículo";
}

<h1>Edição de Veículo</h1>

<form asp-action="editar">

    <input asp-for="VeiculoId" />

    <partial name="_Formulario" />

    <input type="submit" class="btn btn-outline-primary" value="Editar"/>
    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</form>