@model Veiculo

<div class="form-group">
    <label asp-for="Modelo"></label>
    <input asp-for="Modelo" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Ano"></label>
    <input asp-for="Ano" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DataFabricacao"></label>
    <input asp-for="DataFabricacao" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Combustivel"></label>
    <select asp-for="Combustivel" class="form-control" asp-items="@Html.GetEnumSelectList<Combustivel>()">
        <option>Selecione</option>
    </select>
</div>
<div class="form-group">
    <input asp-for="Novo" />
    <label asp-for="Novo"></label>
</div>

<hr />

<!-- cadastrar a placa do veiculo -->
<h4>Placa</h4>

<input asp-for="Placa.PlacaId"/>

<div class="form-group">
    <label asp-for="Placa.Numero"></label>
    <input asp-for="Placa.Numero" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Placa.Estado"></label>
    <input asp-for="Placa.Estado" class="form-control" />
</div>

<hr />

<!-- Lista de clientes para cadastrar com o veículo -->
<div class="form-group">
    <label asp-for="Cliente"></label>
    <select asp-for="ClienteId" class="form-control" asp-items="@ViewBag.clientes" > <!-- ViewBag.clientes enviado através do VeiculoControler no método Cadastrar[Get] -->
        <option>Selecione</option>
    </select>
</div>